
<table style="width: 97%; margin-left: 5px;">
  <thead>
    <tr><h2>Tableau de Température d'eau Station : {{ codeDep }} Gironde</h2></tr>
    <tr>
    
<table class="styled-table" style="width: 45%;margin-left: 35%;" >
    <thead>
      <tr>
        <th>Date Mesure</th>
        <th>Heure</th>
        <th>Valeur</th>
        <th>Qualification</th>
      </tr>
    </thead>
    <tbody>
     <tr *ngFor="let x of resultats" >
           <td>{{x.date_mesure_temp}}</td>
           <td>{{x.heure_mesure_temp}}</td>
           <td>{{x.resultat}} {{x.symbole_unite}}</td>
           <td>{{x.libelle_qualification}}</td>
       </tr>
    </tbody>
  </table>

<tr>
    <canvasjs-chart [options]="chartOptions" [styles]="{width: '50%', height:'360px'}" 
    (chartInstance)="getChartInstance($event)"></canvasjs-chart>    
 
  </tr>
  </thead>
  </table>